@import url(http://fonts.googleapis.com/css?family=Montserrat);
nav {
  font-family: Montserrat, sans-serif;
  text-transform: Uppercase;
  text-align: center;
  position: absolute;
  padding: 36px 0;
  bottom: 0;
  left: 0;
  right: 0;
}
nav ul {
  padding: 0;
}
nav li {
  display: inline-block;
}
nav li:not(:first-child)::before {
  content: '/';
  padding: 0 12px 0 9px;
}
.frame {
  padding: 20px 0 0;
  border-radius: 3px;
  border-bottom: 2px solid #f79e48;
  background: #f79e48;
  display: inline-block;
  position: relative;
  line-height: 0;
}
.frame__bar {
  display: block;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 1px;
}
.frame__bar span {
  height: 8px;
  width: 8px;
  border-radius: 8px;
  background-color: #fcfcfc;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px;
}
@font-face {
  font-family: Ailerons;
  src: url("fonts/Ailerons.ttf") format("truetype");
}
.fold {
  font-family: Montserrat;
  height: 100vh;
  background: #250f26;
  color: #f79e48;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}
.fold__image {
  height: 400px;
}
.fold__logo {
  font-family: Ailerons;
  font-size: 90px;
  line-height: 1em;
  position: absolute;
  left: 0;
  right: 0;
}
.fold__logo-group {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.fold__top {
  font-size: 14px;
  margin: 0 0 0 0;
  padding: 36px 0;
  font-weight: normal;
}
.loader-appear nav {
  bottom: -1000px;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}
.loader-appear.loader-appear-active nav {
  bottom: 0;
}
.about {
  position: relative;
  background: #fcfcfc;
  min-height: 100vh;
}
.about__aside {
  width: 50%;
  position: absolute;
  background: linear-gradient(#f79e48, #fcfcfc 70%);
  height: 100vh;
}
.about__title {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 55%;
  font-family: Ailerons;
  font-size: 90px;
}
.about__image {
  -webkit-clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
  clip-path: polygon(50% 5%, 90% 25%, 90% 75%, 50% 95%, 10% 75%, 10% 25%);
  margin-left: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50px;
  max-width: 200px;
}
.about__section {
  margin-left: 50%;
  background: #fcfcfc;
  padding: 95px;
}
.about nav a {
  color: #626466;
}
@media (max-width: 960px) {
  .about__aside {
    width: 100%;
    position: relative;
  }
  .about__title {
    top: 30%;
  }
  .about__section {
    padding: 45px;
    margin-left: 0;
  }
  .about__image {
    display: none;
  }
}
.projects {
  position: relative;
  background: #fcfcfc;
}
.projects__aside {
  position: absolute;
  height: 100vh;
  width: 50%;
  background: linear-gradient(to top, #f79e48, #fcfcfc);
}
.projects__title {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 55%;
  font-family: Ailerons;
  font-size: 90px;
}
.projects__aside nav a,
.projects__aside nav li {
  color: #626466;
}
.projects__section {
  color: #fcfcfc;
  text-align: center;
  margin-left: 50%;
  background: #250f26;
  padding: 95px;
}
.projects__section .frame,
.projects__section img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 960px) {
  .projects__aside {
    width: 100%;
    position: relative;
  }
  .projects__title {
    top: 30%;
  }
  .projects__section {
    padding: 45px;
    margin-left: 0;
  }
}
.contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #fcfcfc;
  min-height: 300px;
}
.contact__aside {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fcfcfc;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.contact__title {
  text-align: center;
  font-family: Ailerons;
  font-size: 90px;
}
.contact__section {
  text-align: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #fcfcfc;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.contact__section > ul {
  list-style-type: none;
}
@media (max-width: 960px) {
  .contact {
    display: block;
  }
}
html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  color: #626466;
  font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
}
@media only screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }
}
a {
  color: #f79e48;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
pre,
code {
  font-family: 'Fira Mono', Menlo, monospace;
  background: #F9F8F7;
  color: #484A4C;
  font-size: 0.9375em;
  letter-spacing: -0.015em;
}
code {
  margin: -0.05rem -0.15em;
  padding: 0.05rem 0.35em;
}
blockquote {
  margin: 1rem 0;
  padding: 0 1rem;
  color: #727476;
  border-left: solid 3px #DCDAD9;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}
